<footer class="l-footer p-footer">
  <div class="p-footer__background">
    <div class="p-footer__background--top"></div><!-- /.p-footer__background--top -->
    <div class="p-footer__background--main">
      <div class="p-footer-main l-footer-main">
        <div class="c-footer-information">
          <div class="c-footer-information__logo"><a href=""><img src="/images/common/footer-logo.png" alt="みなみ歯科クリニックのロゴ"></a></div><!-- /.c-footer-information__logo -->
          <div class="c-footer-information__address"><span>〒166-0001</span>東京都杉並区阿佐谷北7-3-1</div><!-- /.c-footer-information__address -->
          <div class="c-footer-information__tel"><a href="">03-1234-5678</a></div><!-- /.c-footer-information__tel -->
          <div class="c-footer-information__time">(年中無休 AM9:00〜PM22:00)</div><!-- /.c-footer-information__open -->
          <div class="c-footer-information__access">
            <div class="c-footer-button c-button__reserve"><a href="">WEB予約</a></div><!-- /.c-button__reserve -->
            <div class="c-footer-button c-button__contact"><a href="">お問い合わせ</a></div><!-- /.c-button__contact -->
          </div><!-- /.c-footer-information__access -->
          <div class="c-footer-information__open">
            <img src="/images/common/medicalTimeSheet.png" alt="みなみ歯科クリニックの営業日">
          </div><!-- /.c-footer-information__open -->
        </div><!-- /.c-footer-information -->
        <div class="c-footer-map">
          <div class="c-footer-map__iframe">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6557.390561755103!2d135.3463345901383!3d34.738074520051214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000f2429396d4e7%3A0x80d4db7e4d62994b!2z6KW_5a6u6aeF!5e0!3m2!1sja!2sjp!4v1638709659370!5m2!1sja!2sjp" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div><!-- /.c-footer-map__iframe -->
        </div><!-- /.c-footer-map -->
      </div><!-- /.p-footer-main -->
      <div class="p-footer-nav">

      </div><!-- /.p-footer-nav -->
    </div><!-- /.p-footer__background--main -->
    <div class="p-footer__background--copyright">
      <div class="p-footer__copyright">
    
      </div><!-- /.p-footer__copyright -->
    </div><!-- /.p-footer__background--copyright -->
  </div><!-- /.p-footer__background -->
</footer>
