<footer class="l-footer p-footer">
  <div class="p-footer__background">
    <div class="p-footer__background--top"></div><!-- /.p-footer__background--top -->
    <div class="p-footer__background--main">
      <div class="c-footer-infomation">

      </div><!-- /.c-footer-infomation -->
      <div class="c-footer-map">

      </div><!-- /.c-footer-map -->
      <div class="c-footer-nav">

      </div><!-- /.c-footer-nav -->
    </div><!-- /.p-footer__background--main -->
  </div><!-- /.p-footer__background -->
  <div class="p-footer__copyright">
    
  </div><!-- /.p-footer__copyright -->
</footer>
