<head>
  <meta name="robots" content="noindex" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <!-- meta情報 -->
  <title>みなみ歯科クリニック＜東京都杉並区＞</title>
  <meta name="description" content="街の皆さんの笑顔を守る、アットホームな歯医者さん" />
  <meta name="keywords" content="デンタルクリニック" />
  <!-- ogp -->
  <meta property="og:title" content="みなみ歯科クリニック" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="アットホームな歯医者さん！みなみ歯科クリニック" />
  <meta property="og:description" content="みなみ歯科クリニックは、街の皆さまの笑顔を守るアットホームな歯医者さんです。歯は健康に直結します。そして健康は家族の笑顔に繋がっています。" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@yoshi_web55" />
  <!-- ファビコン -->
  <link rel="icon" href="/images/common/favicon.png" />
  <!-- css -->
  <link rel="stylesheet" href="./css/style.css" />
  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script defer src="./js/script.js"></script>
</head>
