<div class="l-header p-header">
  <h1 class="p-header__title"><img src="" alt=""></h1><!-- /.header__title -->
  <div class="p-header__burger">
    <div class="c-burger">
      <div class="c-burger__btn" id="burger__btn">
        <span></span>
        <span></span>
        <span></span>
      </div><!-- /.p-burger-menu -->
    </div><!-- /.c-burger -->
  </div><!-- /.p-header__burger -->
</div>
