// 色
$text-color-black: #393939; // テキスト色
$text-color-white: #FFFFFF; // テキスト色
$background: #fff; // 背景
$main-color: #1391E6;
$sub-color01: #0060A0;
$sub-color02: #DFF1FD;
$accent-color: #EE5A6D;

// マウスホバー
$opacity: 0.7; // 透過度

// フォント
$font-family-base: 'M PLUS Rounded 1c', sans-serif;// ベースフォント
$font-size-base: 14px; // ベースフォントサイズ
$font-weight-base: medium; // ベースフォントウェイト
$lh: (24 / 14); // ベース行間

// ---
// レイアウト
// ---
$l-tab: 768px; // タブレットサイズ
$l-inner: 1120px; // インナー幅
$l-pc: 1280px; // パソコン幅

// ブレークポイント（PC基準）
$breakpoints: (
	"sp": "screen and (min-width: 375px)",
	"tab": "screen and (min-width: #{$l-tab})",
	"pc": "screen and (min-width: #{$l-inner})",
	"lg": "screen and (min-width: #{$l-pc})",
);

$padding-pc: 25px; // タブレット時の余白
$padding-sp: 20px; // スマホ時の余白
